/* -----MAIN----- */



* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}



/* -----HEADER-----  */

.nav-dropdown {
    display: none;
}

header {
    background-color: rgb(31, 64, 75);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 12px;
}

.nav-links .nav-link {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

.nav-links .nav-link a {
   font-size: large;
}

.btn1 {
    background-color: gray;
    color: black;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn2 {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn1 a {
    color: black;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.nav-link a:hover {
    color: yellow;
    border-bottom: 1px solid yellow;
}

.btn:hover {
    opacity: 0.6;
    transition: 0.3s;
}


/* -----BODY----- */


.sec1 {
    background-image: url("https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg");
}

.para {
    width: 66%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: small;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.btn3 {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin: auto;
    padding: 3px; 
}

.hero {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: large;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}


/* -----MID----- */


.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;   
}

.hero-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 60%;
    margin: auto;
    font-size: large;
    color: black;
    font-weight: bold;
}

.para1 {
    padding: 15px;
}

.btn4 {
    background-color: orange;
    color: white;
    border-radius: 10px;
    width: 200px;
    padding: 7px;
    margin: 0px;
}

.fa-star , .fa-star-half-stroke {
    color: #df9b1d;
}

span {
    font-weight: bold;
    color: #df9b1d;
}

.box {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-bottom: 20vh;
}

.box img {
    width: 100%;
    border-radius: 10px;
}   

.box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}


/* -----FOOTER----- */


footer {
    background-color: rgb(31, 64, 75);
    color: white;
    text-align: center;
    padding: 10px;
}


.copy i {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}


/* -----MEDIA----- */


@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
        align-items: center;
    }
    .sec1 {
        height: 70vh;
    }

    .hero-mid {
        width: 80%;
        }
}

@media (max-width: 975px) {
    
    .nav-links {
        display: none;
    }

    .nav-dropdown{
        display: block;
    }

    .dropdown {
        padding: 5px;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
    }

    .hero {
        width: 80%;
    }

}
@media (max-width: 480px) {
    
    .hero-mid {
        width: 90%;
        font-size: medium;
    }

    .box {
        width: 90%;
    }

}


/* -----END----- */